# Ignorar videos dentro de subcarpetas específicas de video/
video/anime/*.mp4
video/anime/*.avi
video/anime/*.mkv
video/anime/*.mov
video/anime/*.webm
video/anime/*.flv
video/anime/*.wmv
video/anime/*.mpeg
video/anime/*.mpg

video/drama/*.mp4
video/drama/*.avi
video/drama/*.mkv
video/drama/*.mov
video/drama/*.webm
video/drama/*.flv
video/drama/*.wmv
video/drama/*.mpeg
video/drama/*.mpg

video/entretenimiento/*.mp4
video/entretenimiento/*.avi
video/entretenimiento/*.mkv
video/entretenimiento/*.mov
video/entretenimiento/*.webm
video/entretenimiento/*.flv
video/entretenimiento/*.wmv
video/entretenimiento/*.mpeg
video/entretenimiento/*.mpg

video/peliculas/*.mp4
video/peliculas/*.avi
video/peliculas/*.mkv
video/peliculas/*.mov
video/peliculas/*.webm
video/peliculas/*.flv
video/peliculas/*.wmv
video/peliculas/*.mpeg
video/peliculas/*.mpg

video/series/*.mp4
video/series/*.avi
video/series/*.mkv
video/series/*.mov
video/series/*.webm
video/series/*.flv
video/series/*.wmv
video/series/*.mpeg
video/series/*.mpg

# No ignorar imágenes
!imagen/
!imagen/**

# No ignorar css, js, index.html, etc.
